
# Holds Model Verification

## Data Type

`string|VerificationsResponse`

## Cases

| Type |
|  --- |
| `string` |
| [`VerificationsResponse`](../../../doc/models/verifications-response.md) |

